@import "../../../styles/variables.scss";

.flights-list {
  width: 1120px;
  margin: 40px auto;
  font-size: 18px;

  &__switcher {
    display: flex;
  }

  &__btn {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    border-radius: 60px 60px 0 0;
    text-transform: uppercase;
    color: $text-white;
    background: $deep-sky-blue;
    text-decoration: none;
    cursor: pointer;

    & i {
      margin-right: 15px;
      font-size: 40px;
    }

    &_active {
      color: $deep-sky-blue;
      background: $white;
      z-index: 1;
    }

    &:not(.flights-list__btn_active):hover {
      background: $deep-sky-blue;
    }

    &_departures {
      padding-right: 150px;
      margin-right: -60px;
      align-items: center;
      justify-content: flex-end;
    }

    &_arrivals {
      padding-left: 150px;
      margin-left: -60px;
    }
  }

  &__table-wrapper {
    padding-top: 50px;
    background-color: $white;
  }
}

.flights-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;

  &__header tr th {
    padding-bottom: 10px;
  }

  &__header tr th:first-child {
    text-align: center;
  }
}

td {
  padding: 20px 0;
}

tbody tr:nth-child(odd) {
  background-color: $grederlevy;
}

tbody tr td:first-child {
  text-align: center;
}
