@import "./flightBoard/components/Flights/Flight.scss";
@import "./flightBoard/components/FlightsTable/FlightsTable.scss";
@import "./flightBoard/components/SearchFlightsPage/SearchField.scss";
@import './styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: $darkGrey;
  background: $grederlevy;
}
